<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <property name="LOG_FOLDER">logs</property>
    </Properties>
    <Appenders>
        <appender name="gelfAppender" class="org.graylog2.log.GelfAppender">
            <param name="graylogHost" value="127.0.0.1"/>
            <param name="originHost" value="localhost"/>
            <param name="graylogPort" value="12201"/>
            <param name="extractStacktrace" value="true"/>
            <param name="addExtendedInformation" value="true"/>
            <param name="facility" value="log4j"/>
            <param name="Threshold" value="DEBUG"/>
            <param name="additionalFields" value="{'environment': 'DEV', 'application': 'WorkbenchSpringBoot'}"/>
        </appender>
        <RollingFile name="rollingFileAppender" fileName="${LOG_FOLDER}/app.log"
                     filePattern="${LOG_FOLDER}/app-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [${hostName}-%thread] %-5level %logger{5} - %msg%n</Pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy />
            <!--
            <Policies>
               <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
            -->
        </RollingFile>
        <Console name="consoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n"/>
        </Console>
        <Failover name="failoverFile" primary="rollingFileAppender">
            <Failovers>
                <AppenderRef ref="consoleAppender"/>
            </Failovers>
        </Failover>
        <Failover name="failoverGelf" primary="gelfAppender">
            <Failovers>
                <AppenderRef ref="failoverFile"/>
            </Failovers>
        </Failover>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="failoverGelf"/>
        </Root>
        <Logger name="io.wybis.workbench_spring_boot" level="DEBUG" additivity="false">
            <AppenderRef ref="failoverGelf"/>
            <AppenderRef ref="consoleAppender" />
        </Logger>
    </Loggers>
</Configuration>