<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <property name="LOG_FOLDER">logs</property>
    </Properties>
    <Appenders>
        <Gelf name="gelfAppender" host="tcp:localhost" port="12201" version="1.0" extractStackTrace="true"
              filterStackTrace="true" mdcProfiling="true" includeFullMdc="true" maximumMessageSize="8192"
              originHost="my.host.name" additionalFieldTypes="fieldName1=String,fieldName2=Double,fieldName3=Long"
              ignoreExceptions="true">
            <Field name="timestamp" pattern="%d{dd MMM yyyy HH:mm:ss,SSS}" />
            <Field name="level" pattern="%level" />
            <Field name="simpleClassName" pattern="%C{1}" />
            <Field name="className" pattern="%C" />
            <Field name="server" pattern="%host" />
            <Field name="server.fqdn" pattern="%host{fqdn}" />
            <!--
            <Field name="fieldName2" literal="fieldValue2" /> This is a static field
            <Field name="mdcField2" mdc="mdcField2" /> This is a field using MDC
            <DynamicMdcFields regex="mdc.*" />
            <DynamicMdcFields regex="(mdc|MDC)fields" />
            <DynamicMdcFieldType regex="my_field.*" type="String" />
            -->
        </Gelf>
        <RollingFile name="rollingFileAppender" fileName="${LOG_FOLDER}/app.log"
                     filePattern="${LOG_FOLDER}/app-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [${hostName}-%thread] %-5level %logger{5} - %msg%n</Pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy />
            <!--
            <Policies>
               <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
            -->
        </RollingFile>
        <Console name="consoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n"/>
        </Console>
        <Failover name="failoverFile" primary="rollingFileAppender">
            <Failovers>
                <AppenderRef ref="consoleAppender"/>
            </Failovers>
        </Failover>
        <Failover name="failoverGelf" primary="gelfAppender">
            <Failovers>
                <AppenderRef ref="rollingFileAppender"/>
            </Failovers>
        </Failover>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="failoverGelf"/>
        </Root>
        <Logger name="io.wybis.workbench_spring_boot" level="debug" additivity="false">
            <AppenderRef ref="consoleAppender"/>
            <AppenderRef ref="failoverGelf" />
        </Logger>
    </Loggers>
</Configuration>