<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
            </pattern>
        </encoder>
    </appender>
<!--
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <batchMaxBytes>65536</batchMaxBytes>
        <http>
            <url>http://localhost:3100/loki/api/v1/push</url>
            <url>https://logs-prod-eu-west-0.grafana.net/loki/api/v1/push</url>
            <auth>
                <username>244977</username>
                <password>eyJrIjoiZDk1NDAxNWNiYjMzMWMwMGQ4ZTQyZDZkZmYwYzVlYmQyZDU0YjNhZiIsIm4iOiJ0ZXN0IiwiaWQiOjY3NTEyOH0=</password>
            </auth>
        </http>
        <format>
            <label>
                <pattern>app=workbench-spring-boot,host=${HOSTNAME},level=%level</pattern>
            </label>
            <message>
                <pattern>l=%level h=${HOSTNAME} c=%logger{20} t=%thread | %msg %ex</pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>
-->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <!--
        <appender-ref ref="LOKI" />
        -->
    </root>

</configuration>
